@import "null.css";

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #424551;
  width: 810px;
  height: 1594px;
  margin: 0 auto;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
}
.lato-900 {
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3;
  color: #1e212c;
  margin-top: 38px;
  margin-bottom: 92px;
}

.image {
  margin-bottom: 60px;
}
.lato700-up {
  margin-bottom: 18px;
  color: #1e212c;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}
.text-1 {
  margin-bottom: 30px;
}

.lato700-bottom {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 48px;
  padding-left: 58px;
  line-height: 1.5;
}
.list {
  height: 52px;
  margin-bottom: 24px;
}

.text {
  margin-bottom: 54px;
}
.content,
.content-2,
.content-3 {
  padding-left: 32px;
}
.content-4 {
  margin-bottom: 24px;
  padding-left: 32px;
}
